@import "../../style/mixins";
@import "../../style/variables";
.wrapper {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 68px;
    }
  }
}

.title {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 27px;

  @media screen and (min-width: $tablet) {

    margin-bottom: 35px;
  }
  @media screen and (min-width: $desktop) {
    line-height: 31px;
    margin-bottom: 55px;
    font-size: 26px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    margin: 0 -25px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0 -45px;
  }
}

.block {
  .active + &{
    margin-bottom: 35px;
  }
  @media screen and (min-width: $tablet) {
    width: 50%;
    padding: 0 25px;
    &::before {
      content: '';
      display: block;
      width: 141px;
      height: 2px;
      background: var(--red);
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $desktop) {
    padding: 0 45px;
  }
  &Row {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.moduleTitle {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: var(--black);
  background: var(--grey);
  padding: 15px 0;
  @media screen and (min-width: $mobile) and (max-width: $desktop) {
      margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet){
    color: var(--bold-black);
    display: block;
    background: none;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
    font-size: 32px;
  }
  .active & {
    color: #fff;
    background: var(--red);
  }
}

.list {
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    padding: 0 16px;
  }
  .active &{
    margin-bottom: 16px;
  }
}

.item {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  @media screen and (min-width: $desktop){
    font-size: 16px;
    max-width: 375px;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @include marker(-15px,6px)
}
.icon{
  margin: 0 27px 0 24px
}